body {
  background-image: url('../images/bg.png');
  background-attachment: fixed;
  background-position: center;
  color: #444;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

header {
  color: white;
  padding: 100px 0px 100px 0px;
  text-align: center;
}

.profile-img {
  background-image: url('../images/profile.png');
  background-position: center center;
  background-size: cover;
  border: 1px solid #ccc;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

header h1 {
  color: #444;
  font-size: 3em;
}

header h2 {
  color: #555;
  font-size: 1.8em;
}

.container {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
}

section {
  border: 1px solid #ECF0F1;
  border-bottom: none;
  padding: 25px 50px 50px 50px;
}

h1 {
  color: #DB2B22;
  font-size: 1.6em;
  margin: 20px auto 0px auto;
}

h2 {
  color: #4e5353;
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 5px;
}

.date {
  color: #818181;
  font-size: .9em;
  margin-top: 5px;
  margin-bottom: 0px;
}

.red {
  color: #DB2B22;
}

ul {
  color: #818181;
  font-size: 1.1em;
  line-height: 1.6em;
  list-style: none;
  padding-left: 10px;
}

li:before {
  content: "\25AA\0020";
  color: #DB2B22;
}

.portfolio {
  border: none;
  background-color: #ECF0F1;
  color: #444;
  padding: 25px 50px 25px 50px;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
}

a {
  color: #DB2B22;
  text-decoration: none;
}

a:hover {
  color: #33AADD;
}

.footer {
  border: none;
  background-color: #DAE2E2;
  color: #444;
  padding: 0px 50px 0px 50px;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
}

.footer p {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0.8em;
}

.fa {
  font-size: 2em;
}
