form p {
  display: flex;
  flex-direction: column;
  width: 290px;
  position: relative;
}

form p label {
  font-size: 0.9em;
  line-height: 1.6em;
}

.help-link {
  position: absolute;
  right: 0;
  top: 0;
}

.help-link a {
  color: #0645ad;
  text-decoration: none;
}

form p a:hover {
  text-decoration: underline;
}

form p input {
  border: 1px solid #cccccc;
  border-radius: 2px;
  height: 24px;
  padding: .3em .3em .3em .6em;
  font-size: 14px;
}

form p input:focus {
  border-color: #347bff;
  box-shadow: inset 0 0 0 2px #347bff;
  outline: 0;
}

::-webkit-input-placeholder {
  font-style: italic;
}

form button {
  background-color: #00af89;
  border: 1px solid #00af89;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1.6em;
  margin: 0 0 15px;
  padding: 3px 6px;
  text-shadow: 0 1px rgba(0,0,0,0.1);
}

form button:hover {
  background-color: #008c6d;
}
