html, body {
  min-height: 100%
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.main-container {
  background: yellow;
  order: 1;
  width: 100%;
}

.main-sidebar {
  background: aqua;
  order: 0;
  width: 176px;
  flex: 0 0 auto;
}

.main-header {
  background: #f9f9f9;
  height: 100px;
  width: 100%;
  position: relative;
}

nav, .search input {
  position: absolute;
  margin: 10px;
}

.user-menu {
  right: 0;
  top: 0;
}

.talk-menu {
  left: 0;
  bottom: 0;
}

.edit-menu {
  right: 310px;
  bottom: 0;
}

.search input {
  width: 300px;
  right: 0;
  bottom: 0;
}

.search input:invalid {
  background: red;
}

.main-header ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header li {
  list-style: none;
}

.main-header li+li {
  border-left: 1px solid #444;
  margin-left: 10px;
  padding-left: 10px;
}

.biography{
  background: #f9f9f9;
  box-sizing: border-box;
  border: 1px solid #aaa;
  float: right;
  padding: 25px;
  margin: 6px 0px 12px 12px;
  width: 270px;
}

main {
  background: white;
  width: 100%;
}

.main-footer {
  background: red;
  height: 150px;
  width: 100%;
}
