html, body {
  min-height: 100%
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.main-container {
  background: yellow;
  order: 1;
  width: 100%;
}

.main-sidebar {
  background: aqua;
  order: 0;
  width: 176px;
}

.main-header {
  background: blue;
  height: 100px;
  width: 100%;
}

main {
  background: green;
  width: 100%;
}

.main-footer {
  background: red;
  height: 150px;
  width: 100%;
}
