html, body {
  min-height: 100%;
  background: #f6f6f6;
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1, h2 {
  font-family: serif;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
}

h1 {
  font-size: 28.8px;
  font-weight: bold;
}

.main-container {
  order: 1;
  width: 100%;
}

.main-sidebar {
  order: 0;
  width: 176px;
  flex: 0 0 auto;
}

.main-header {
  height: 100px;
  width: 100%;
  position: relative;
}

nav, .search input {
  position: absolute;
  margin: 10px;
}

.user-menu {
  right: 0;
  top: 0;
}

.talk-menu {
  left: 0;
  bottom: 0;
}

.edit-menu {
  right: 320px;
  bottom: 0;
}

.search input {
  width: 300px;
  right: 0;
  bottom: 0;
}

.search input:invalid {
  background: red;
}

.main-header ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header li {
  list-style: none;
}

.main-header li+li {
  border-left: 1px solid #444;
  margin-left: 10px;
  padding-left: 10px;
}

.biography{
  background: #f9f9f9;
  box-sizing: border-box;
  border: 1px solid #aaa;
  float: right;
  padding: 25px;
  margin: 6px 0px 12px 12px;
  width: 270px;
}

.main-content {
  background: white;
  border: 1px solid #a7d7f9;
  border-right: none;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
}

.main-footer {
  height: 150px;
  width: 100%;
}

.logo {
  background: url(../images/enwiki.png);
  color: transparent;
  display: block;
  height: 155px;
  width: 135px;
  margin: 6px auto 0;
}
