body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

article {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

h1 {
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 16px;
}

h2 {
  font-weight: 300;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 40px;
  color: #444;
}

h1, h2 {
  font-family: Lato;
  text-align: center;
}

p {
  font-family: Merriweather;
  color: #444;
  line-height: 1.5;
}

a {
  font-weight: bold;
  color: #ff0000;
  text-decoration: none;
}

a:hover {
  color: #444;
}
